<%-render("views/header.ejs", {PageTitle: action + " test"})%>
<%-render("views/nav.ejs")%>

<div class="content-div">
<h1><%=action%> test?</h1>
<h2>nay/nay</h2>
</div>

<%-render("views/footer.ejs")%>