<%-render("views/header.ejs", {PageTitle: "Sup"})%>
<%-render("views/nav.ejs")%>

<div class="content-div">
Herp derp index.html :o
</div>

<div class="content-div">
moar
</div>

<div class="content-div">
Website 1
<hr/>
</div>

<%-render("views/footer.ejs")%>