<div>
	<div class="navcontainer">
		<ul>
			<li class="first"><a href="/scenarios">Scenarios</a></li>
			<!-- 
			<li><a>Herp</a></li>
			<li><a>derp</a></li>
			-->
			<li class="last"><a href="/tests">Test reports</a></li>
		</ul>
	</div>
</div>
<div style="height: 10px; float:left; width: 100%;"></div>
<div class="actual-content">