<h1><%= test[0] %></h1>
<ul>
	<% names.forEach(function(name){ %>
		<li><%= name %></li>
	<% }); %>
</ul>
<h2>test 2</h2>
<ul>
	<% for(var i = 0; i < names.length; ++i) { %>
		<li><%= names[i] %></li>
	<% } %>
</ul>

	
	